:root{
    --primary-color:rgba(3, 63, 11, 0.863) ;
    --primary-color-darker:grey ;
}
* {
box-sizing: border-box;
outline: 0;

}body{
    background: var(--primary-color);
    margin: 0;
    padding: 0;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: rgb(168, 227, 241);
    padding: 20px;
    border-radius:10px ;
   
}
form input,form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding:0 20px ;
}
form input:focus{
outline:1px var(--primary-color);
}
form button:focus{
    border: none;
    background:rgb(100, 240, 245);
    color: tomato;
    font-size: 18px;
    cursor: pointer;
}
form button:hover{
    background: var(--primary-color-darker);

}
form button :active{
    background: red;
}
.paragrafo-resultado, .bad{
    background: rgb(188, 148, 228);
    padding: 10px 20px;
    
}
.bad{
    background: rgb(231, 92, 92);
}